.chat {
  flex: 2;
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  gap: 20px;
}

.top .user {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

.backIcon {
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.texts span {
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.toptexts {
  background-color: transparent;
}
.topuserName {
  font-size: 22px;
  font-weight: 600;
}
.onlineStatus {
  margin-top: 5px;
  background-color: transparent;
  color: wheat;
  font-size: 13px;
}
.icons {
  display: flex;
  gap: 20px;
  margin-right: 5px;
}

.faIcons {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.center {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  max-width: 70%;
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.message.own {
  align-self: flex-end;
}

.message.own .texts p {
  background-color: rgba(78, 194, 78, 0.897);
}

.texts p {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(22, 92, 173, 0.897);
}

.sentTime {
  color: wheat;
  font-size: 8px;
}

.bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  gap: 20px;
}

.inputIcons {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.messageTypingField {
  flex: 1;
  background-color: rgba(22, 92, 173, 0.562);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: auto;
  width: calc(100% - 140px); /* Adjust 140px based on icons + button width */
  min-width: 100px;
}

.messageTypingField:disabled {
  cursor: not-allowed;
}

.emojiImage {
  position: relative;
}

.picker {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.sendButton {
  background-color: rgba(43, 255, 0, 0.534);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  margin-bottom: 10px;
}

.sendButton:disabled {
  background-color: rgba(45, 139, 26, 0.925);
  cursor: not-allowed;
}
.sendButton:disabled:hover {
  background-color: rgba(45, 139, 26, 0.925);
}
.sendButton:hover {
  background-color: rgba(43, 255, 0);
}
.dateSeparator {
  text-align: center;
  margin: 10px 0;
}

.dateSeparator span {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #666;
}

@media (max-width: 1024px) {
  .top {
    border-bottom: 1px solid white;
  }
  .chat {
    width: 100%;
    height: 100%;
    border: none;
  }
  .backIcon {
    display: block;
  }
}

@media (max-width: 500px) {
  .top {
    border-bottom: 1px solid white;
  }
  .chat {
    width: 100%;
    height: 100%;
    border: none;
  }
  .sendButton {
    padding: 10px 10px;
    width: 60px;
    margin-bottom: 10px;
  }

  .bottom {
    gap: 5px;
  }
  .messageTypingField {
    font-size: 15px;
  }
}
@media (max-width: 416px) {
  .messageTypingField {
    padding: 8px 0;
    font-size: 15px;
    width:125px;
  }
  .emojiImage {
    width: 40px;
    height: 40px;
  }
  .sendButton {
    padding: 10px;
  }
}
